
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vybrane Ligy
    </ion-title>
    <ion-buttons slot="end">
      <!-- Tlačítkem otevřu stránku nastavení -->
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vybrane ligy</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Ukázka vložení dat z nastavení -->
  <div>
    <!-- Dynamické vycyklení pole obsahující asychroní requesty Observable objekt (pattern) -->
    <!-- ng-container slouží pro možnost zrušení "zadivování", na DOM se nepropisuje -->
    <ng-container *ngFor="let item$ of fotbals$">
      <!-- Souštění .subscribe a získání dat stejně jako v případě výše -->
      <ng-container *ngIf="item$ | async; let fotbal">
        <!-- Použití Ionic designu - ion-card dle oficiální dokumentace-->
        <!-- Angular routerLink otevře stránku detailu > /details - endpoint je zapsaný v app.router-module.ts -->
        <!-- Pomocí metody click (reaguje dříve jak routerLink) předám data do pomocné servisky -->
        <ion-card  style="width:350px "  routerLink="/league/{{fotbal.response[0].league.id}}"  (click)="goToLeagueDetail(fotbal)">
          <ion-img style="height: 75px" src="{{fotbal.response[0].league.logo}}" alt="{{fotbal.response[0].league.name}}"></ion-img>
          <ion-card-header>
            <ion-card-title>{{fotbal.response[0].league.name}}</ion-card-title>
            <ion-card-subtitle>{{fotbal.response[0].country.name}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

          </ion-card-content>

        </ion-card>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
