 <ion-header [translucent]="true" >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size=15px>{{league.response[0].league.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content [fullscreen]="true">

   <!-- Tlačítka pro přepínání mezi zobrazeními -->
   <ion-segment [(ngModel)]="selectedView">
     <ion-segment-button value="standings">
       Standings
     </ion-segment-button>
     <ion-segment-button value="league-matches" (click)="loadLeagueMatches()">
       League Matches
     </ion-segment-button>
   </ion-segment>


  <ion-grid class="table-container" *ngIf="selectedView === 'standings'">
    <ion-row class="header-row" >
      <ion-header></ion-header>
      <ion-col  size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5">Team</ion-col>
      <ion-col  style="text-align: right"size="1">M</ion-col>
      <ion-col  style="text-align: right"size="1">W</ion-col>
      <ion-col style="text-align: right" size="1">D</ion-col>
      <ion-col style="text-align: right" size="1">L</ion-col>
      <ion-col style="text-align: right" size="1">P</ion-col>
    </ion-row>

    <ng-container *ngIf="league$ | async as standings; else loading">
    <ng-container *ngFor="let standingsGroup of standings.response[0]?.league?.standings">
      <ion-row class="data-row" *ngFor="let standing of standingsGroup" routerLink="/team/{{standing.team.id}}" (click)="goToTeamDetail(league.response[0].league.id,standing.team.id)" >
        <ion-col size="1">{{ standing.rank }}</ion-col>
        <ion-col size="1">
          <img [src]="standing.team.logo" alt="{{ standing.team.name }} logo" class="team-logo"></ion-col>
        <ion-col size="5">{{ standing.team.name }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.played }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.win }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.draw }}</ion-col>
        <ion-col size="1"  style="text-align: right">{{ standing.all.lose }}</ion-col>
        <ion-col size="1"  style="text-align: right">{{ standing.points }}</ion-col>

      </ion-row>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </ion-grid>

   <!-- League Matches -->
   <ng-container *ngIf="selectedView === 'league-matches'">
     <ng-container *ngIf="leagueMatches$ | async as matches; else loading">
       <div class="matches-container">
         <div class="match-row" *ngFor="let match of matches.response">
           <div class="team-info">
             <img [src]="match.teams.home.logo" alt="{{ match.teams.home.name }} logo" class="team-logo">
             <span class="team-name">{{ match.teams.home.name }}</span>
           </div>
           <div class="score-info">
             <ng-container *ngIf="match.goals.home !== null && match.goals.away !== null; else noGoals">
               <span class="score">{{ match.goals.home }}</span>
               <span class="separator">-</span>
               <span class="score">{{ match.goals.away }}</span>
             </ng-container>
             <ng-template #noGoals>
               <span class="match-date">{{ match.fixture.date | date: 'MMM d, y' }}</span>
             </ng-template>
           </div>
           <div class="team-info">
             <span class="team-name">{{ match.teams.away.name }}</span>
             <img [src]="match.teams.away.logo" alt="{{ match.teams.away.name }} logo" class="team-logo">
           </div>
         </div>
       </div>
     </ng-container>
     <ng-template #loading>
       <p>Loading...</p>
     </ng-template>
   </ng-container>

</ion-content>
