 <ion-header [translucent]="true" >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size=15px>{{league.response[0].league.name }}</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-content [fullscreen]="true">
   <ion-header collapse="condense">
     <ion-toolbar>
       <ion-title size=15px>{{league.response[0].league.name }}</ion-title>
     </ion-toolbar>
   </ion-header>

  <ion-grid class="table-container">
    <ion-row class="header-row" >
      <ion-col  size="1"></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5">Team</ion-col>
      <ion-col  style="text-align: right"size="1">M</ion-col>
      <ion-col  style="text-align: right"size="1">W</ion-col>
      <ion-col style="text-align: right" size="1">D</ion-col>
      <ion-col style="text-align: right" size="1">L</ion-col>
      <ion-col style="text-align: right" size="1">P</ion-col>
    </ion-row>

    <ng-container *ngIf="league$ | async as standings; else loading">
    <ng-container *ngFor="let standingsGroup of standings.response[0]?.league?.standings">
      <ion-row class="data-row" *ngFor="let standing of standingsGroup" routerLink="/team/{{standing.team.id}}" (click)="goToTeamDetail(league.response[0].league.id,standing.team.id)" >
        <ion-col size="1">{{ standing.rank }}</ion-col>
        <ion-col size="1">
          <img [src]="standing.team.logo" alt="{{ standing.team.name }} logo" class="team-logo"></ion-col>
        <ion-col size="5">{{ standing.team.name }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.played }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.win }}</ion-col>
        <ion-col size="1" style="text-align: right">{{ standing.all.draw }}</ion-col>
        <ion-col size="1"  style="text-align: right">{{ standing.all.lose }}</ion-col>
        <ion-col size="1"  style="text-align: right">{{ standing.points }}</ion-col>

      </ion-row>
      </ng-container>
    </ng-container>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </ion-grid>

</ion-content>
