
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title size=15px>Players of Team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngFor="let league$ of leagues$; let i = index">
        <ng-container *ngIf="league$ | async as league; else loading">
            <ng-container *ngFor="let player of league.response">
                <ion-card *ngIf="player.statistics[0].games.minutes > 0 ">
                    <ion-card-content>
                        <ion-grid>
                            <!-- Levý sloupec -->
                            <ion-row>
                                <ion-col size="6">
                                    <img [src]="player.player.photo" alt="{{ player.player.name }} Image" class="player-image">
                                    <ion-card-title>{{ player.player.name }}</ion-card-title>
                                    <p>{{ player.player.age }}</p>
                                </ion-col>

                                <ion-col>
                                    <ion-card-subtitle>Góly: {{ player.statistics[0].goals.total }}</ion-card-subtitle>
                                    <ion-card-subtitle>Asistence: {{ player.statistics[0].goals.assists }}</ion-card-subtitle>
                                    <ion-card-subtitle>Pozice: {{ player.statistics[0].games.position }}</ion-card-subtitle>
                                    <ion-card-subtitle>Odehrané minuty: {{ player.statistics[0].games.minutes }}</ion-card-subtitle>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</ion-content>
