
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title size=15px>Players of Team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngFor="let league$ of leagues$; let i = index">
        <ng-container *ngIf="league$ | async as league; else loading">
            <ng-container *ngFor="let player of league.response">
                <ion-card *ngIf="player.statistics[0].games.minutes > 0 ">
                    <ion-card-content>
                        <ion-grid>
                            <!-- Levý sloupec -->
                            <ion-row>
                                <ion-col size="4">
                                    <img [src]="player.player.photo" alt="{{ player.player.name }} Image" class="player-image">
                                    <ion-card-title>{{ player.player.name }}</ion-card-title>
                                    <p>{{ player.player.age }}</p>
                                </ion-col>

                                <ion-col>
                                  <ion-card>
                                    <ion-card-title style="text-align: center;border-bottom: 1px solid black">Stats</ion-card-title>
                                    <ion-row>
                                      <ion-col size="6" style="margin-bottom: 15px">
                                        <ion-card-subtitle style="font-weight: bold"> Goals:</ion-card-subtitle>
                                        <ion-card-subtitle style="font-weight: bold"> Assists:</ion-card-subtitle>
                                        <ion-card-subtitle style="font-weight: bold">Pozice:</ion-card-subtitle>
                                        <ion-card-subtitle style="font-weight: bold">Odehrané minuty:</ion-card-subtitle>
                                      </ion-col>
                                      <ion-col>
                                        <ion-card-subtitle> {{ player.statistics[0].goals.total }} </ion-card-subtitle>
                                        <ion-card-subtitle>
                                          <ng-container *ngIf=" player.statistics[0].goals.assists === null">
                                            0
                                          </ng-container>
                                          {{ player.statistics[0].goals.assists }}
                                          </ion-card-subtitle>
                                        <ion-card-subtitle> {{ player.statistics[0].games.position }}</ion-card-subtitle>
                                        <ion-card-subtitle> {{ player.statistics[0].games.minutes }}</ion-card-subtitle>
                                      </ion-col>
                                    </ion-row>





                                  </ion-card>


                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</ion-content>
