
<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title size=15px>Players of Team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ng-container *ngIf="league$ | async as league; else loading">
    <ng-container *ngFor="let player of league.response">
        <ion-card  style="align-content: center;text-align: center" >
            <ion-img  style="height: 100px" src="{{player.player.photo}}" alt="{{player.player.name}}"></ion-img>
            <ion-card-header>
                <ion-card-title>{{player.player.name}}</ion-card-title>
                <ion-card-subtitle>{{player.player.age}}</ion-card-subtitle>
                <ion-card-subtitle>{{player.player.nationality}}</ion-card-subtitle>

            </ion-card-header>
            <ion-card-content>

            </ion-card-content>

        </ion-card>
    </ng-container>
    </ng-container>
        <ng-template #loading>
            <p>Loading...</p>
        </ng-template>

</ion-content>
